:root{
    --text-color: black;
    --link-color: blue;
    --background-color: white;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}
nav{
    margin-bottom: 30px;
}
nav a{
    color: var(--link-color);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid var(--link-color);
    border-radius: 10px;
}

/*Section 2*/
.Projects .Game-Container .Games{
    display: flex;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 50px;
}