/*type selector*/
p{
    color:red;
}
h2{
    color:brown;
}

/*Catagory selector*/
.summer{
    color:brown;
}

.list{
    color:pink;
}

/*TagSelector*/
#red-point{
    color:red;
}

#brown_point{
    color:brown;
}