body {
  font-family: 'Poppins', sans-serif;
    margin: 0 auto ;

    max-width: 50em ;
    line-height: 1.5;
    padding: 4em 1em;
  
  }
  h1{
    margin-top: 6em;
    padding-top: 1em;
  }

  .center{
    text-align: center;
  }

  .font{
    font-size: 20px;
    margin-top: 2em;
  }